@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #000000;
  --border-color: #575d5d;
  --font-color: #ffffff9c;
  --reverse-font-color: #ffffff;
  --content-color: rgb(179, 179, 179);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #000000;
    --border-color: #575d5d;
    --font-color: #ffffff9c;
    --reverse-font-color: #ffffff;
    --content-color: rgb(179, 179, 179);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  /* 부드러운 애니메이션 효과 */
  transform: translateY(-100%);
  transition: transform 0.3s ease;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(12, 12, 24, .1);

  position: sticky;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
  width: 100%;

  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: auto;
  align-items: center;
}

.mask-image {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.typography-site-headline {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
}

.typography-site-highlights-headline {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
}

.typography-site-highlights-headline-top {
  position: absolute;
  top: 44px;
  left: 44px;
}

.left-circle, .right-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
}

.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.multi-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
  /* line-height: 2.5em; */
  /* height: 8.6em; */
  line-height: 1rem;
  height: 5rem;
}

.two-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto; 
  gap: 10px; /* 그리드 아이템 사이의 간격 */
}
.three-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto; 
  gap: 10px; /* 그리드 아이템 사이의 간격 */
}

.four-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; 
  gap: 10px; /* 그리드 아이템 사이의 간격 */
}

.grid-item {
  padding: 20px; /* 패딩으로 내용과 테두리 사이의 공간 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  /* border: 1px solid #ccc;  */
}

/* 첫 번째 아이템을 첫 번째 행에 걸쳐 확장 */
.grid-item:first-child {
  grid-column: 1 / -1; /* 첫 번째 열에서 시작하여 마지막 열까지 확장 */
}

/* 재생 버튼 모양을 위한 스타일 */
.play-button-background {
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgb(66 66 69/70%);
  border-radius: 32px;
  box-shadow: inset 0 0 1px rgb(232 232 237/11%);
  color: rgb(245,245,247);
  display: flex;
  will-change: transform;
  z-index: 1;
  transition: linear 250ms background-color;
}

/* 길어진 원을 위한 스타일 */
.elongated-circle {
  background-color: gray;
  width: 100px; /* 기본 너비 수정 */
  height: 50px;
  border-radius: 25px / 50px; /* 가로 방향으로 길어짐 */
  transform: translateX(-50%);
}


.header.show {
  transform: translateY(0);
}

.skeleton_loading {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  border-radius: 1rem;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 1s infinite;
}

.reverse-fill-color {
  fill: var(--reverse-font-color);
  background-color: transparent;
}

.img-blur {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  filter: blur(10px);
}

.banner-blur {
  position: absolute;
  top: -10vh;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.banner-blur:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: linear-gradient(180deg, rgba(12, 12, 24, .3) 12.06%, #0c0c18 90%);
  content: "";
  transform: translateZ(0)
}

.banner-blur:after {
  position: absolute;
  top: -100px;
  left: 50%;
  display: block;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, #0c0c18 40%, rgba(12, 12, 24, 0));
  content: "";
  transform: translate(-50%, 80px)
}

.swiper {
  width: 100%;
  height: 100%;
}


.swiper-img {
  position: absolute;
  top: 5vh;
  width: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.autoplay-progress {
  position: absolute;
  z-index: 10;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.img-round-circle {
  border: 2px inset #f54977;
  display: inline-block;
  border-radius: 40px;
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.modalBackdropOut {
  /* display: none; */
  /* animation: fadeOut 0.3s ease-out; */
  animation: slideUp 0.3s ease-out forwards; /* 애니메이션이 끝난 후 상태 유지 */
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 0.3s ease-out forwards;
}

.modalContent {
  height: 100vh;
  padding: 20px;
  border-radius: 5px;
  /* animation: slideUp 0.3s ease-out; */
}

.modalClose {
  background: rgb(51,51,54);
  border-radius: 50%;
  color: rgba(255,255,255,0.8);
  display: flex;
  align-items: center;
  height: 36px;
  width: 36px;
  outline: none;
  transition: color 100ms linear, background 100ms linear;
  position: relative;
  pointer-events: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/**
  scrollbar css
*/
::-webkit-scrollbar {
  position: absolute;
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 96%, .2)
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 8px
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}